@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
header {
  background-image: url(./images/desktop/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

@media (min-width: 575px) {
  .navbar {
    padding: 10px 20px 0 20px;
  }
  .navbar .container-fluid .navbar-brand {
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-transform: lowercase;
  }
  .navbar .container-fluid .navbar-nav .nav-item {
    text-align: center;
    margin: 0 12px;
    width: 90px;
    border-radius: 20px;
  }
  .navbar .container-fluid .navbar-nav .nav-item:hover {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.467);
    text-transform: uppercase;
  }
  .container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container .header-text {
    font-family: "Fraunces", sans-serif;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 8px;
    color: hsl(0deg, 0%, 100%);
    text-transform: uppercase;
  }
  .container .header-arrow {
    margin-top: 50px;
  }
  main .about .part-one {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  main .about .part-one .section-img {
    width: 50%;
  }
  main .about .part-one .section-img picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  main .about .part-one .section-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .about .part-one .section-text .text-container {
    padding: 0 70px;
    text-align: start;
  }
  main .about .part-one .section-text .text-container > h3 {
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 40px;
  }
  main .about .part-one .section-text .text-container > p {
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: hsl(232deg, 10%, 55%);
  }
  main .about .part-one .section-text .text-container .more {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .about .part-one .section-text .text-container .more > a {
    font-size: 15px;
    text-decoration: none;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
  }
  main .about .part-one .section-text .text-container .more > span {
    position: absolute;
    bottom: 0;
    width: 140px;
    border-radius: 20px;
    opacity: 0.3;
    height: 10px;
    background-color: hsl(51deg, 100%, 49%);
  }
  main .about .part-one .section-text .text-container .more > a:hover + span {
    opacity: 0.7;
  }
  main .about .part-two {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  main .about .part-two .section-img {
    width: 50%;
  }
  main .about .part-two .section-img picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  main .about .part-two .section-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .about .part-two .section-text .text-container {
    padding: 0 70px;
    text-align: start;
  }
  main .about .part-two .section-text .text-container > h3 {
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 40px;
  }
  main .about .part-two .section-text .text-container > p {
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: hsl(232deg, 10%, 55%);
  }
  main .about .part-two .section-text .text-container .more {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .about .part-two .section-text .text-container .more > a {
    font-size: 15px;
    text-decoration: none;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
  }
  main .about .part-two .section-text .text-container .more > span {
    position: absolute;
    bottom: 0;
    width: 140px;
    border-radius: 20px;
    opacity: 0.3;
    height: 10px;
    background-color: hsl(7deg, 99%, 70%);
  }
  main .about .part-two .section-text .text-container .more > a:hover + span {
    opacity: 0.7;
  }
  main .services {
    display: flex;
    height: 100vh;
  }
  main .services .first-service {
    width: 50%;
    background-image: url("./images/desktop/image-graphic-design.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
  }
  main .services .first-service .service-text {
    position: absolute;
    bottom: 0;
    padding: 0 20px;
  }
  main .services .first-service .service-text .service-title {
    font-family: "Fraunces", sans-serif;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 900;
    color: hsl(167deg, 40%, 24%);
  }
  main .services .first-service .service-text .service-description {
    font-family: "Fraunces", sans-serif;
    font-weight: 600;
    color: hsl(168deg, 34%, 41%);
  }
  main .services .second-service {
    width: 50%;
    background-image: url("./images/desktop/image-photography.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
  }
  main .services .second-service .service-text {
    position: absolute;
    bottom: 0;
    padding: 0 20px;
  }
  main .services .second-service .service-text .service-title {
    font-family: "Fraunces", sans-serif;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 900;
    color: hsl(212deg, 27%, 19%);
  }
  main .services .second-service .service-text .service-description {
    font-family: "Fraunces", sans-serif;
    font-weight: 600;
    color: hsl(213deg, 9%, 39%);
  }
  main .testimonials {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .testimonials .title {
    font-family: "Barlow", sans-serif;
    text-transform: uppercase;
    color: hsl(210deg, 4%, 67%);
    letter-spacing: 2px;
  }
  main .testimonials .card-container {
    display: grid;
    grid-template: 200px/auto auto auto;
  }
  main .testimonials .card-container .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    border: none;
  }
  main .testimonials .card-container .card .card-img {
    width: 33.333%;
    display: flex;
    justify-content: center;
    margin: 30px;
  }
  main .testimonials .card-container .card .card-img > img {
    width: 50%;
    height: 100%;
    border-radius: 50%;
  }
  main .testimonials .card-container .card .card-text .testimonial {
    font-family: "Berlow", sans-serif;
    font-weight: bold;
    color: hsl(232deg, 10%, 55%);
    margin-bottom: 30px;
  }
  main .testimonials .card-container .card .card-text .person-name {
    font-family: "Fraunces", sans-serif;
    color: hsl(213deg, 9%, 39%);
  }
  main .testimonials .card-container .card .card-text .person-job {
    color: hsl(210deg, 4%, 67%);
  }
  main .gallery {
    height: 300px;
    display: grid;
    grid-template: repeat(1, 1fr)/repeat(4, 1fr);
  }
  main .gallery .gallery-item picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  footer {
    background-color: #90D4C5;
  }
  footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .container .text-brand {
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-transform: capitalize;
    color: hsl(167deg, 40%, 24%);
  }
  footer .container .sections {
    display: flex;
    margin-top: -10px !important;
    justify-content: space-evenly;
    width: 100%;
  }
  footer .container .sections > a {
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    color: hsl(168deg, 34%, 41%);
    font-size: 20px;
  }
  footer .container .sections > a:hover {
    color: hsl(0deg, 0%, 100%);
  }
  footer .container .contact {
    display: flex;
    margin-top: -10px !important;
    justify-content: space-evenly;
    width: 220px;
  }
  footer .container .contact > a:hover > svg > path {
    fill: #fff;
  }
  footer .container .attribution {
    font-size: 12px;
    margin-top: -10px !important;
  }
  footer .container .attribution > a {
    text-decoration: none;
  }
}
@media (max-width: 575px) {
  header {
    font-family: "Fraunces", sans-serif;
    background-image: url(./images/mobile/image-header.jpg);
  }
  header .navbar .container-fluid {
    padding: 20px;
  }
  header .navbar .container-fluid .navbar-brand {
    font-weight: 900;
  }
  header .navbar .container-fluid .navbar-collapse {
    margin: 60px 0;
    background-color: hsl(0deg, 0%, 100%);
    position: relative;
    height: 300px;
    padding: 15px 0;
  }
  header .navbar .container-fluid .navbar-collapse .navbar-nav {
    display: flex;
    height: 270px;
    align-items: center;
    justify-content: space-evenly;
  }
  header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
    display: inline-block;
    width: 33.333%;
    text-align: center;
  }
  header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
    border-radius: 20px;
    color: rgb(162, 162, 162);
  }
  header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    background-color: hsl(51deg, 100%, 49%);
    color: #000;
  }
  header .navbar .container-fluid .navbar-collapse:before {
    content: "";
    position: absolute;
    top: -40px;
    right: 0;
    height: 40px;
    width: 40px;
    border-bottom-right-radius: 50%;
    background: #3EBFFF;
  }
  header .navbar .container-fluid .navbar-collapse:before {
    box-shadow: 0 20px 0 0 #fff;
  }
  header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .container .header-text {
    margin: 65px 0 65px 0;
    text-align: center;
  }
  header .container .header-text p {
    color: hsl(0deg, 0%, 100%);
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 45px;
    font-weight: 900;
  }
  main .about .part-one .section-img picture {
    width: 100vw;
  }
  main .about .part-one .section-img picture > img {
    width: 100%;
  }
  main .about .part-one .section-text .text-container > h3 {
    font-size: 40px;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
  }
  main .about .part-one .section-text .text-container > p {
    font-size: 20px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: hsl(232deg, 10%, 55%);
    margin-bottom: 40px;
  }
  main .about .part-one .section-text .text-container .more {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .about .part-one .section-text .text-container .more > a {
    font-size: 15px;
    text-decoration: none;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
  }
  main .about .part-one .section-text .text-container .more > span {
    position: absolute;
    bottom: 0;
    width: 140px;
    border-radius: 20px;
    opacity: 0.3;
    height: 10px;
    background-color: hsl(51deg, 100%, 49%);
  }
  main .about .part-two .section-img picture {
    width: 100vw;
  }
  main .about .part-two .section-img picture > img {
    width: 100%;
  }
  main .about .part-two .section-text .text-container > h3 {
    font-size: 40px;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
  }
  main .about .part-two .section-text .text-container > p {
    font-size: 20px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: hsl(232deg, 10%, 55%);
    margin-bottom: 40px;
  }
  main .about .part-two .section-text .text-container .more {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .about .part-two .section-text .text-container .more > a {
    font-size: 15px;
    text-decoration: none;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
  }
  main .about .part-two .section-text .text-container .more > span {
    position: absolute;
    bottom: 0;
    width: 140px;
    border-radius: 20px;
    opacity: 0.3;
    height: 10px;
    background-color: hsl(7deg, 99%, 70%);
  }
  main .services .first-service {
    height: 100vh;
    background-image: url("./images/mobile/image-graphic-design.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
  }
  main .services .first-service .service-text {
    position: absolute;
    bottom: 0;
    padding: 0 20px;
  }
  main .services .first-service .service-text .service-title {
    font-family: "Fraunces", sans-serif;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 900;
    color: hsl(167deg, 40%, 24%);
  }
  main .services .first-service .service-text .service-description {
    font-family: "Fraunces", sans-serif;
    font-weight: 600;
    color: hsl(168deg, 34%, 41%);
  }
  main .services .second-service {
    height: 100vh;
    background-image: url("./images/mobile/image-photography.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
  }
  main .services .second-service .service-text {
    position: absolute;
    bottom: 0;
    padding: 0 20px;
  }
  main .services .second-service .service-text .service-title {
    font-family: "Fraunces", sans-serif;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 900;
    color: hsl(212deg, 27%, 19%);
  }
  main .services .second-service .service-text .service-description {
    font-family: "Fraunces", sans-serif;
    font-weight: 600;
    color: hsl(213deg, 9%, 39%);
  }
  main .testimonials {
    text-align: center;
  }
  main .testimonials .title {
    font-family: "Barlow", sans-serif;
    text-transform: uppercase;
    color: hsl(210deg, 4%, 67%);
    letter-spacing: 2px;
  }
  main .testimonials .card {
    flex-direction: column;
    align-items: center;
    border: none;
    margin-bottom: 30px;
  }
  main .testimonials .card .card-img {
    width: 33.333%;
    display: flex;
    justify-content: center;
    margin: 30px;
  }
  main .testimonials .card .card-img > img {
    width: 50%;
    height: 100%;
    border-radius: 50%;
  }
  main .testimonials .card .card-text .testimonial {
    font-family: "Berlow", sans-serif;
    font-weight: bold;
    color: hsl(232deg, 10%, 55%);
    margin-bottom: 30px;
  }
  main .testimonials .card .card-text .person-name {
    font-family: "Fraunces", sans-serif;
    color: hsl(213deg, 9%, 39%);
  }
  main .testimonials .card .card-text .person-job {
    color: hsl(210deg, 4%, 67%);
  }
  main .gallery {
    height: 100vh;
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  }
  main .gallery .gallery-item picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  footer {
    height: 500px;
    background-color: #90D4C5;
  }
  footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .container .text-brand {
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-transform: capitalize;
    color: hsl(167deg, 40%, 24%);
  }
  footer .container .sections {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  footer .container .sections > a {
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    color: hsl(168deg, 34%, 41%);
    font-size: 20px;
  }
  footer .container .contact {
    display: flex;
    justify-content: space-evenly;
    width: 220px;
  }
  footer .container .attribution {
    font-size: 12px;
  }
  footer .container .attribution > a {
    text-decoration: none;
  }
}

/*# sourceMappingURL=output.css.map */
